{% extends "base.html" %}

{% block title %}Modifier Etudiant{% endblock %}

{% block main %}
<br><br><br><br>
<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
            <li><a class="text-primary" href="{{ url_for('main.index') }}">Accueil</a></li>
            <li><a class="text-primary" href="{{ url_for('main.profile') }}">Choisir l'étudiant</a></li>
            <li class="active">Modifier l'étudiant</li>
            </ul>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-center">Modifier les notes de l'étudiant</h1>
        <br>


            <form method="POST" action="/mark/update2">

                <input type="hidden" value="{{ id_student }}" name="id">

                <div class="form-group">
                    <label class="control-label">ID de l'étudiant:</label> <strong>{{ id_student }}</strong>
                </div>

                <div class="form-group">
                    <label class="control-label">Nom de l'étudiant : </label> <strong>{{ name }}</strong>
                </div>

                <div class="form-group">
                    <label class="control-label">Spécialité : </label> <strong>{{ specialite }}</strong>
                </div>

                <style type="text/css">
                    .tg {
                        border-collapse: collapse;
                        border-color: #9ABAD9;
                        border-spacing: 0;
                    }

                    .tg td {
                        background-color: #EBF5FF;
                        border-color: #9ABAD9;
                        border-style: solid;
                        border-width: 1px;
                        color: #444;
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        overflow: hidden;
                        padding: 10px 20px;
                        word-break: normal;
                    }

                    .tg th {
                        background-color: #122b40;
                        border-color: #9ABAD9;
                        border-style: solid;
                        border-width: 1px;
                        color: #fff;
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        overflow: hidden;
                        padding: 10px 20px;
                        word-break: normal;
                    }

                    .tg .tg-73oq {
                        border-color: #000000;
                        text-align: left;
                        vertical-align: top
                    }
                </style>
                <table class="tg">
                    <thead>
                    <tr>
                        <th class="tg-73oq">Module</th>
                        <th class="tg-73oq">Matière</th>
                        <th class="tg-73oq">Note Matière</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tg-73oq" rowspan="3">{{ unite[0] }}</td>
                        <td class="tg-73oq">{{ text[0] }}</td>
                        <td class="tg-73oq">
                            <div class="form-group">
                                <input
                                        type="number"
                                        class="form-control"
                                        id="note1"
                                        name="note1"
                                        value="{{ notes[0] }}"
                                        aria-describedby="notemathHelp"
                                        placeholder=""
                                        required
                                                step="0.01"

                                />
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="tg-73oq">{{ text[1] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note2"
                                name="note2"
                                value="{{ notes[1] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq">{{ text[2] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note3"
                                name="note3"
                                value="{{ notes[2] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq" rowspan="2">{{ unite[1] }}</td>
                        <td class="tg-73oq">{{ text[3] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note4"
                                name="note4"
                                value="{{ notes[3] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq">{{ text[4] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note5"
                                name="note5"
                                value="{{ notes[4] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq" rowspan="3">{{ unite[2] }}</td>
                        <td class="tg-73oq">{{ text[5] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note6"
                                name="note6"
                                value="{{ notes[5] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"


                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq">{{ text[6] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note7"
                                name="note7"
                                value="{{ notes[6] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq">{{ text[7] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note8"
                                name="note8"
                                value="{{ notes[7] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq" rowspan="3">{{ unite[3] }}</td>
                        <td class="tg-73oq">{{ text[8] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note9"
                                name="note9"
                                value="{{ notes[8] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq">{{ text[9] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note10"
                                name="note10"
                                value="{{ notes[9] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq">{{ text[10] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note11"
                                name="note11"
                                value="{{ notes[10] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq" rowspan="3">{{ unite[4] }}</td>
                        <td class="tg-73oq">{{ text[11] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note12"
                                name="note12"
                                value="{{ notes[11] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq">{{ text[12] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note13"
                                name="note13"
                                value="{{ notes[12] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>
                    <tr>
                        <td class="tg-73oq">{{ text[13] }}</td>
                        <td class="tg-73oq"><input
                                type="number"
                                class="form-control"
                                id="note14"
                                name="note14"
                                value="{{ notes[13] }}"
                                aria-describedby="notemathHelp"
                                placeholder=""
                                required
                                        step="0.01"

                        /></td>
                    </tr>

                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Modifier l'étudiant</button>
            </form>
    </div>
</div>
{% endblock %}
