{% extends "base.html" %}

{% block title %}Inscrivez-vous{% endblock %}

{% block main %}

<br><br><br><br>
<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
            <li><a class="text-primary" href="{{ url_for('main.index') }}">Accueil</a></li>
            <li class="active">Inscrivez-vous</li>
            </ul>
        </div>
    </div>
</section>


<section class="container login-form-section">
    <div class="row">

        <div class="col-xs-3 col-sm-4 col-md-4"></div>
        <div class="col-xs-6 col-sm-4 col-md-4">
            <br>
            <div class="col-md-2"></div>
            <div class="col-md-12"><br><br>
                <img class="img-responsive login-logo" src="../static/images/school.png" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="col-xs-3 col-sm-4 col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center"><strong><br>UNIVERSITE</strong></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="text-center">Inscrivez-vous</h1>
            <br>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong> {{ messages[0] }}</strong>.  Aller à la
                <a href="{{ url_for('auth.login') }}">Page de connexion</a>.
            </div>
            {% endif %} {% endwith %}


            <form method="POST" action="/signup">


                <div class="form-group">
                    <label class="control-label" for="name">Nom</label>
                    <input type="text" class="form-control" id="name"
                           name="name" placeholder="Entrez votre nom complet" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                           name="email" placeholder="Entrez votre Email" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password"
                           name="password" placeholder="Entrez votre mot de passe" required
                    />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Inscrivez-vous</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
